html {
  height: 100%;
}

body {
  background-color: white;
  overflow: hidden;
  min-height: 100%
}

.alles {
  width: 100%;
  height: 100%;
  margin: auto;
}

#titel {
  text-align: center;
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace; font-style: normal; font-variant: normal;
}
h2 {
  font-family:"freemono", monospace;
}

* {
  margin:0px;
  padding:0px;
  box-sizing:border-box;
  font-family:"Bree Serif",sans-serif;
}

#sidebar {
  position:absolute;
  top:0px;
  left:0px;
  width:200px;
  height:100vh;
  background:#1a1a1a;
  text-align:center;
  transform-origin:left;
  transform:perspective(1200px) rotateY(90deg);
  transition:all 400ms ease;
  color: white;
}
#sidebar ul li {
  color: white;
  font-size:20px;
  width:100%;
  height:50px;
  border-bottom:1px solid #222222;
  line-height:50px;
}
#sidebar.active {
  transform:perspective(1200px) rotateY(0deg);
  color: white;
}



#toggle-btn {
  position:absolute;
  left:30px;
  top:20px;
  transition:left 200ms linear 0ms,transform 300ms ease 100ms;
  color: white;
}
#toggle-btn.active {
  left:230px;
  transform:rotate(360deg);
}
#toggle-btn span {
  position:relative;
  top:0px;
  display:block;
  background:white;
  width:30px;
  height:5px;
  margin:5px 0px;
  cursor:pointer;
  transition:transform 300ms ease 200ms;
  color: white;
}
#toggle-btn.active span:nth-child(1) {
  top:10px;
  transform:rotate(45deg);
  color: white;
}
#toggle-btn.active span:nth-child(2) {
  opacity:0;
  color: white;
}
#toggle-btn.active span:nth-child(3) {
  top:-10px;
  transform:rotate(-45deg);
  color: white;
}

p {
  text-align: left;
  background-color: white;
  font-family:"freemono", monospace;
}

header {
  width: 100%;
  background-color: grey;
  text-align: center;
}

section {
  min-height: 500px;
  min-width: inherit;
  background-color: white;
  text-align: center;
}
div {
background-color: white;
  font-family:"freemono", monospace;
}

.overmij {
text-align: center;
font-family:"freemono", monospace;
}
#warpimg {
  display: flex;
  justify-content: center;
}
.Home {
  margin-left: 50px;
  margin-right: 50px;
  font-family:"freemono", monospace;  ;
}
.titel  {
    font-family:"freemono", monospace;
}
h3 {
    font-family:"freemono", monospace;
}
.homeimg {
  float: left;
  clear: left;
  height: 250px;
  width: 350px;
  margin-bottom: 15px;
  margin-right: 25px
}
a:enabled {
  color:grey;
}

#voetimg {
  float: left;
  clear: left;
  height: 250px;
  width: 350px;
  margin-right: 25px
}
#blenderimg {
  width: 500px;
  float:left;
  margin-left: 25px;
  margin-right: 25px;
  clear: left;

}
#projectp {
  margin-right: 25px;
}
#hueimg {
  width: 200px;
  height: 200px;
  float: left;
  clear: left;
  margin-top: 25px;
}
#schoolimg {
  float: left;
  margin-left: 25px;
  margin-top: 25px;
}
